<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Los Viajes de Maura Shop</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/LosViajesdeMaura.css" rel="stylesheet">
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
		<div class="container">	
            <a class="navbar-brand" href="/">LosViajesdeMaura <i class="fas fa-plane"></i></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">	<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/">Shop</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/admin.html">Admin</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-left">
				<h1 class="mt-5">Items List</h1>
			</div>
			<div id="results" class="col-lg-8 text-center order-3">
                <table id="adminTable" class="indent">
                    <thead>
                        <tr>
                            <th colspan="5">Los Viajes de Maura Shop</th>
                        </tr>
                        <tr>
                            <th>Select</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <br/>
            </div>
			<div class="col-lg-4 text-center order-2">
				<form enctype="application/json" action="/post/json" method="post">
					<div class="form-group">
						<input class="form-control" type="text" name="title" placeholder="Title">
					</div>
                    <div class="form-group">
                        <textarea class="form-control" type="text" name="description" placeholder="Description"></textarea>
                    </div>
					<div class="form-group">
						<input class="form-control" type="text" name="price" placeholder="Price">
					</div>
					<button type="submit" class="btn btn-primary btn-block">Submit</button>
				</form>
                    <br>
                    <button id="delete" class="btn btn-block btn-danger">Delete</button>
                    <p class="text-muted">To delete an entree, click the required row first</p>

                    <button id="edit" class="btn btn-block btn-secondary" disabled=true>Edit</button>
            </div>
		</div>
	</div>
	<footer class="footer pt-3 pb-0">
		<div class="container">	
            <div class="row">
                <div class="col-6">
                    <p class="text-muted footer-copyright">Travel blog by Maura tangara &copy; 2020</p>
                    <p><a href="mailto:maura.tangara@gmail.com"><i class="fas fa-envelope"></i> maura.tangara@gmail.com</a></p>
                </div>
                <div class="col-6 text-right">
                    <h2>LosViajesdeMaura <i class="fas fa-plane"></i></h2>
                </div>
            </div>
		</div>
	</footer>
	<script src="https://kit.fontawesome.com/1764b674ae.js" crossorigin="anonymous"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/LosViajesdeMaura.js"></script>
</body>

</html>