<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Los Viajes de Maura Shop</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/LosViajesdeMaura.css" rel="stylesheet">
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
		<div class="container">	
            <a class="navbar-brand" href="/">LosViajesdeMaura <i class="fas fa-plane"></i></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">	<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="shop.html">Shop</a></li>
                    <li class="nav-item"><a class="nav-link btn btn-sm btn-primary" href="admin.html">Admin</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Page Content -->
	<div class="container mt-5">
        <div class="row">
            <div class="col-md-8 articles">
                <div class="article mb-5">
                    <img src="/images/Thailand1.JPG" alt="Thailand among their temples, smiling people, massages and street food." class="img-fluid mb-3">
                    <h3>Thailand among their temples, smiling people, massages and street food.</h3>
                    <div><small><strong>Date: January 2019</strong></small></div>
                    <p>Thailand is a Southeast Asian country. It's known for tropical beaches, opulent royal palaces, ancient ruins and ornate temples displaying figures of Buddha. In Bangkok, the capital, an ultramodern cityscape rises next to quiet canalside communities and the iconic temples of Wat Arun, Wat Pho and the Emerald Buddha Temple (Wat Phra Kaew).</p>
                    <hr>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar stick-top text-center">
                    <img src="/images/maura-photo.jpg" class="profile-photo">
                    <a class="btn btn-large btn-primary btn-block mb-2" 
                       href="https://www.instagram.com/mauracarola/" 
                       target="_blank">
                        <i class="fab fa-instagram" aria-hidden="true"></i> Instagram
                    </a>
                    <a class="btn btn-large btn-primary btn-block mb-2" 
                       href="https://www.linkedin.com/in/mauracarola/" 
                       target="_blank">
                        <i class="fab fa-linkedin" aria-hidden="true"></i> Linkedin
                    </a>
                    <a class="btn btn-large btn-primary btn-block mb-2" 
                       href="https://github.com/Mauren777/" 
                       target="_blank">
                        <i class="fab fa-github" aria-hidden="true"></i> Github
                    </a>
                </div>
            </div>
        </div>
	</div>
	<footer class="footer pt-3 pb-0">
		<div class="container">	
            <div class="row">
                <div class="col-6">
                    <p class="text-muted footer-copyright">Travel blog by Maura tangara &copy; 2019</p>
                    <p><a href="mailto:maura.tangara@gmail.com"><i class="fas fa-envelope"></i> maura.tangara@gmail.com</a></p>
                </div>
                <div class="col-6 text-right">
                    <h2>LosViajesdeMaura <i class="fas fa-plane"></i></h2>
                </div>
            </div>
		</div>
	</footer>
	<script src="https://kit.fontawesome.com/1764b674ae.js" crossorigin="anonymous"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/LosViajesdeMaura.js"></script>
</body>

</html>