<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Los Viajes de Maura Shop</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/LosViajesdeMaura.css" rel="stylesheet">
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
		<div class="container">	
            <a class="navbar-brand" href="/">LosViajesdeMaura <i class="fas fa-plane"></i></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">	<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item active"><a class="nav-link" href="shop.html">Shop<span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a class="nav-link btn btn-sm btn-primary" href="admin.html">Admin</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-md-8">
                <div class="text-left intro">
                    <h1 class="mt-5">Shop Online</h1>
				    <p class="lead">The Travel Shop is where you can find the necessary items for your travels, We design these products to make your adventures easier and lighter when you are traveling.</p>
                </div>
                <div id="shop-list" class="articles">
                <table id="shopTable" class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Product</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <br/>
            </div>
			</div>
			<div class="col-md-4">
                <div class="sidebar sticky-top">
                    <div class="card">
                        <div class="card-header">Shopping Cart</div>
                        <div class="card-body">
                            <div class="row" id="product-list">
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <p>Total: € <span id="total">0</span></p>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
	<footer class="footer pt-3 pb-0">
		<div class="container">	
            <div class="row">
                <div class="col-6">
                    <p class="text-muted footer-copyright">Travel blog by Maura tangara &copy; 2020</p>
                    <p><a href="mailto:maura.tangara@gmail.com"><i class="fas fa-envelope"></i> maura.tangara@gmail.com</a></p>
                </div>
                <div class="col-6 text-right">
                    <h2>LosViajesdeMaura <i class="fas fa-plane"></i></h2>
                </div>
            </div>
		</div>
	</footer>
	<script src="https://kit.fontawesome.com/1764b674ae.js" crossorigin="anonymous"></script>
	<script src="js/jquery.min.js"></script>
    <script src="js/LosViajesdeMaura.js"></script>
</body>

</html>